@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700&family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Space+Grotesk:wght@300;400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  height: 100%;
  min-height: 100vh;
}

*,
html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box !important;
  scroll-behavior: smooth;
}

.container::after {
  position: absolute;
  content: "";
  background: #ff7a00;
  height: 66px;
  width: 80px;
  bottom: -10px;
  left: -10px;
  z-index: -1;
}

.contain::before {
  position: absolute;
  content: "";
  background: #ff7a00;
  height: 66px;
  width: 80px;
  top: -10px;
  right: -10px;
  z-index: -1;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

.typing-cursor {
  animation: blink 1s step-end infinite;
}

button {
  border-radius: 0.5rem;
}
@media print {
  html,
  body {
    height: 100%;
    overflow: hidden;
  }
  .print\:hidden {
    display: none !important;
  }
}
